*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #02103a;
    color: #ffffff;
}

.titulo{
    color: #ff8c00;
}







